apiVersion: v1
kind: ConfigMap
metadata:
  name: keycloak-config-job-config
  namespace: {{ .Values.namespace }}
data:
  CLUSTER: "{{ .Values.cluster }}"
  KEYCLOAK_NAMESPACE: "{{ .Values.keycloak.namespace }}"
  KEYCLOAK_REALM: "{{ .Values.keycloak.realm }}"
  KEYCLOAK_ADMIN_SECRET_NAME: "{{ .Values.keycloak.adminSecretName }}"
  GITOPS_REPO_URL: "{{ .Values.gitops.repoUrl }}"
  GITOPS_BRANCH: "{{ .Values.gitops.branch }}"

