apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: rhdh-config-gotham
  namespace: openshift-gitops
spec:
  destination:
    server: 'https://kubernetes.default.svc'
  project: default
  source:
    repoURL: 'https://github.com/rh-trucathon/gitops.git'
    targetRevision: main
    path: manifests/helm/rhdh-config-job
    helm:
      valueFiles:
        - values.yaml
      values: |
        cluster: gotham
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      backoff:
        duration: 10s
        factor: 2
        maxDuration: 10m
      limit: 15
    syncOptions:
      - CreateNamespace=true
      - RespectIgnoreDifferences=true
      - ApplyOutOfSyncOnly=true
